<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
   
    <th:block th:replace="~{header/header :: head}"></th:block>

<body>
    <th:block th:replace="~{header/header.html :: navbar}"></th:block>

    <form th:action="@{/admin/customers}" method="get">
        <div class="container">
            <th:block th:replace="~{layout/transactions.html :: search}"></th:block>
            <th:block th:replace="~{layout/transactions.html :: customers}"></th:block>
        </div>
    </form>
    

    <th:block th:replace="~{header/header.html :: footer}"></th:block>

</body>

</html>