<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block th:fragment="head">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paynetwork</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


    </head>
</th:block>



<body>
    <th:block th:fragment="navbar">
        <nav class="navbar navbar-expand-lg mx-auto navbar-dark bg-dark">
            <div class="container">


                <a class="navbar-brand" href="/">
                    <i class="fas fa-globe text-white"></i>
                    <span class="ms-2 text-white fw-bold">PayNetwork</span>
                </a>
                
                
                <!-- <a class="navbar-brand" href="/">
                    <span class="ms-2 text-white fw-bold">PayNetwork</span>
                </a> -->

                <button class="navbar-toggler" type="button"  aria-expanded="false"  
                data-bs-toggle="collapse" data-bs-target="#navbarNav">
                  <span class="navbar-toggler-icon"></span>  
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link" href="/signup">SignUp</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasAnyRole('USER')">
                            <a class="nav-link active" href="/checkout">Checkout</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('USER')">
                            <a class="nav-link active" href="/customer/transactions">Transactions</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                            <a class="nav-link active" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                            <a class="nav-link active" href="/admin/transactions">Transactions</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                            <a class="nav-link active" href="/admin/customers">Customers</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyRole('ADMIN')">
                            <a class="nav-link active" href="/settings">Settings</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form id="logoutForm" action="/logout" method="post">
                                <button type="submit" class="btn btn-link nav-link active"
                                    style="border: none; background: none;">Logout
                                </button>
                            </form>
                        </li>
                        <!-- <li class="nav-item">
                        <a class="nav-link" href="/blockchain/transfer">Transfer</a>
                    </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        
       

        <!-- <script>
            document.addEventListener("click", function (event) {
                let navbarCollapse = document.querySelector(".navbar-collapse");
                let navbarToggler = document.querySelector(".navbar-toggler");
        
                if (navbarCollapse.classList.contains("show") && !navbarToggler.contains(event.target) && !navbarCollapse.contains(event.target)) {
                    navbarToggler.click(); 
                }
            });
        </script> -->
    </th:block>




    <th:block th:fragment="footer">

    <footer class="text-center mt-5 p-3 bg-dark text-light">
            <div class="d-flex justify-content-center gap-4 mb-2">
                <a href="/terms" class="text-light text-decoration-none">
                    <i class="bi bi-file-text"></i> Terms
                </a>
                <a href="/privacy" class="text-light text-decoration-none">
                    <i class="bi bi-lock"></i> Privacy
                </a>
                <a href="/contact" class="text-light text-decoration-none">
                    <i class="bi bi-envelope"></i> Contact
                </a>
            </div>
            <p>&copy; 2025 PayNetwork. All rights reserved.</p>
        </footer>
        
    </th:block>


</body>

</html>