<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!--<th:block th:replace="header/header :: content"></th:block>-->
    <th:block th:replace="~{header/header :: navbar}"></th:block>

    <div class="container background mt-5">
        <h2 class="text-center">Checkout</h2>


        <ul class="nav nav-tabs" id="checkoutTabs">
            <li class="nav-item">
                <a class="nav-link active" id="payment-tab" data-bs-toggle="tab" href="#payment">Payment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="payment-s2s-tab" data-bs-toggle="tab" href="#payment-s2s">Payment (S2S)</a>
            </li>
        </ul>


        <div class="tab-content mt-3">
            <div id="loadingSpinner" class="text-center mt-3" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mt-2">Processing payment...</p>
            </div>


            <div class="tab-pane fade show active" id="payment">
                <div class="card-body">
                    <form id="paymentForm">

                        <input type="hidden" id="fullname" th:value="${fullname}" />
                        <input type="hidden" id="bill_email" th:value="${email}" />
                        <input type="hidden" id="bill_phone" th:value="${phone}" />
                        <input type="hidden" id="bill_address" value="36A Alpha" />
                        <input type="hidden" id="bill_city" value="Jurong">
                        <input type="hidden" id="bill_zip" value="447602">
                        <hr>
                        <div class="mb-3">
                            <label class="form-label">Credit Card Number</label> 
                            <input type="text" class="form-control" id="ccno" placeholder="•••• •••• •••• ••••" value="5555555555554444" required>
                        </div>

                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Expiration Month</label>
                                <input type="text" class="form-control" id="month" placeholder="01" value="01" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Expiration Year</label>
                                <input type="text" class="form-control" id="year" placeholder="30" value="30" required>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label class="form-label">CVV</label>
                                <input type="text" class="form-control" id="ccvv" placeholder="123" value="123"
                                    required>
                            </div>
                        </div>

                        <hr>

                        <div class="mb-3">
                            <label class="form-label">Amount (USD)</label> 
                            <input type="text" class="form-control" id="bill_amt" placeholder="110.00" value="10.00" required>
                        </div>

                        <button type="submit" id="payButton" class="btn btn-success w-100">Pay Now
                        </button>
                    </form>
                </div>
            </div>


            <div class="tab-pane fade" id="payment-s2s">
                <div class="card-body">
                    <form id="paymentS2SForm" method="post" action="https://gw.paywb.co/checkout" name="checkoutForm">

                        <input type="hidden" name="public_key" th:value="${publicKey}" />
                        <input type="hidden" name="terNO" th:value="${terNO}" />

                        <input type="hidden" name="source_url" value="http://localhost:8090/checkout" />

                        <input type="hidden" name="retrycount" value="5" />
                        <input type="hidden" name="product_name" value="Testing Product " />

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label class="form-label">Amount</label>
                                <input type="text" name="bill_amt" value="10.00" class="form-control" required />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Currency</label>
                                <input type="text" name="bill_currency" value="USD" class="form-control" readonly />
                            </div>
                        </div>

                        <input type="hidden" name="fullname" th:value="${fullname}" />
                        <input type="hidden" name="bill_email" th:value="${email}" />
                        <input type="hidden" name="bill_phone" th:value="${phone}" />

                        <input type="hidden" name="bill_address" value="36A Alpha" />
                        <input type="hidden" name="bill_city" value="Jurong" />
                        <input type="hidden" name="bill_state" value="SG" />
                        <input type="hidden" name="bill_country" value="SG" />
                        <input type="hidden" name="bill_zip" value="447602" />

                        <input type="hidden" name="reference" value="2312022823120228" />
                        <input type="hidden" name="webhook_url" value="http://localhost:8090/api/payment/webhook" />
                        <input type="hidden" name="return_url" value="http://localhost:8090/api/payment/webhook" />
                        <input type="hidden" name="checkout_url" value="http://localhost:8090/checkout" />

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>





    </div>

    <th:block th:replace="~{header/header :: footer}"></th:block>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/js/checkout.js"></script>

    <script>
        $(document).ready(function () {

            $("#paymentForm").submit(function (event) {
                event.preventDefault();
                alert("Processing normal payment...");
            });


            // $("#paymentS2SForm").submit(function (event) {
            //     event.preventDefault();
            //     alert("Processing S2S payment...");
            // });
        });
    </script>

</body>

</html>