<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

    <th:block th:replace="~{header/header :: head}"></th:block>

<body id="particles-js">
    <th:block th:replace="~{header/header.html :: navbar}"></th:block>
    <form th:action="@{/dashboard}" method="get">

        <input type="hidden" name="tab" id="tab" th:value="${tab}" />
        <th:block th:replace="~{layout/transactions.html :: search}"></th:block>

        <div class="container mt-4" th:if="${transactionCount > 0}">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body text-center">
                            <h5 class="card-title">Deposits Total</h5>
                            <p class="card-text text-primary fs-4 fw-bold" id="totalBillAmt"
                                th:text="'$'+${totalBillAmt}">$0</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body text-center">
                            <h5 class="card-title">Number of Transactions</h5>
                            <p class="card-text text-success fs-4 fw-bold" id="transactionCount"
                                th:text="${transactionCount}">0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" th:if="${transactionCount == 0}">
            <div class="alert alert-warning" role="alert">
                No deposits found.
            </div>
        </div>

    </form>
    
   

    <th:block th:replace="~{header/header.html :: footer}"></th:block>





</body>

</html>