<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block th:replace="~{header/header :: head}"></th:block>

<body>
    <th:block th:replace="~{header/header.html :: navbar}"></th:block>
    <div class="container">
        <th:block th:replace="~{layout/transactions.html :: search}"></th:block>
        <th:block th:replace="~{layout/transactions.html :: content}"></th:block>
    </div>
    <th:block th:replace="~{header/header.html :: footer}"></th:block>
    <script>
        $(document).ready(function () {


            $('#timeRange').change(function () {
                var timeRange = $(this).val();
                switch (timeRange) {
                    case '1D':
                        $('#startDate').val(moment().subtract(1, 'days').format('YYYY-MM-DD'));
                        $('#endDate').val(moment().format('YYYY-MM-DD'));
                        break;
                    case '1W':
                        $('#startDate').val(moment().subtract(7, 'days').format('YYYY-MM-DD'));
                        $('#endDate').val(moment().format('YYYY-MM-DD'));
                        break;
                    case '3M':
                        $('#startDate').val(moment().subtract(3, 'months').format('YYYY-MM-DD'));
                        $('#endDate').val(moment().format('YYYY-MM-DD'));
                        break;
                }
            });

            $(document).on('click', '.view-details', function () {
                var transactionId = $(this).data('id');
                $.ajax({
                    url: "api/dashboard/getDepositDetails/" + transactionId,
                    type: "GET",
                    async: true,
                    success: function (data) {

                        $('#transactionDetailModalLabel').text("Transaction Details");
                        $('#modalSender').text(data.username);
                        $('#modalAmount').text(data.amount + " " + data.currency.toUpperCase());
                        $('#modalDate').text(data.createdTime);
                        $('#modalNote').text(data.note);

                        $('#transactionDetailModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        alert("Hệ thống đang bận, vui lòng thử lại sau.");
                        console.log(error);
                    }
                });
            });

        });
    </script>


</body>

</html>