<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>

</style>

<body>
    <th:block th:replace="~{header/header.html :: navbar}"></th:block>
    <div class="container">
        <!-- <div class="tab-content mt-3" id="dashboardTabsContent">
            <div class="tab-pane fade show active" id="deposits" role="tabpanel"> -->
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex align-items-end justify-content-center">
                            <div class="col-md-3 mt-2 mt-md-0">
                                <label for="fromDate">From Date:</label>
                                <input type="date" id="fromDate" class="form-control" th:value="${fromDate}">
                            </div>
                            <div class="col-md-3 mt-2 mt-md-0">
                                <label for="toDate">To Date:</label>
                                <input type="date" id="toDate" class="form-control" th:value="${toDate}">
                            </div>
                            <div class="col-md-3 mt-3 mt-md-0">
                                <select id="timeRange" class="form-select">
                                    <option value="1D" th:selected="true">Today</option>
                                    <option value="1W">1 Week</option>
                                    <option value="3M">3 Months</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mx-auto m-3 d-flex justify-content-center" >
                                <button class="btn btn-primary" id="searchButton">Search</button>
                            </div>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center"
                                th:each="deposit : ${transactions}">
                                <div>
                                    <strong th:text="${deposit.username}">John Doe</strong><br>
                                    <small th:text="${deposit.billAmt +' '+ deposit.billCurrency.toUpperCase() + ' - ' + deposit.tdate}">$500 - 2024-02-25</small>
                                </div>
                                <button class="btn btn-info btn-sm view-details" data-bs-toggle="modal"
                                    th:data-id="${deposit.transID}" data-bs-target="#transactionDetailModal">Details
                                </button>
                            </li>
                        </ul>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item" th:if="${currentPage > 0}">
                                    <a class="page-link"
                                        th:href="@{/customer/transactions(fromDate=${fromDate}, toDate=${toDate}, page=${currentPage - 1})}">Previous</a>
                                </li>
                                <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:classappend="${i == currentPage} ? 'active'">
                                    <a class="page-link"
                                        th:href="@{/customer/transactions(fromDate=${fromDate}, toDate=${toDate}, page=${i})}"
                                        th:text="${i + 1}"></a>
                                </li>

                                <li class="page-item" th:if="${currentPage + 1 < totalPages}">
                                    <a class="page-link"
                                        th:href="@{/customer/transactions(fromDate=${fromDate}, toDate=${toDate}, page=${currentPage + 1}}">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            <!-- </div>
        </div> -->
    </div>

    <!-- Modal for Transaction Details -->
    <div class="modal fade" id="transactionDetailModal" tabindex="-1" aria-labelledby="transactionDetailModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="transactionDetailModalLabel">Transaction Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Sender:</strong> <span id="modalSender"></span></p>
                    <p><strong>Amount:</strong> <span id="modalAmount"></span></p>
                    <p><strong>Date:</strong> <span id="modalDate"></span></p>
                    <p><strong>Note:</strong> <span id="modalNote"></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <th:block th:replace="~{header/header.html :: footer}"></th:block>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {


            $('#timeRange').change(function () {
                var timeRange = $(this).val();
                switch (timeRange) {
                    case '1D':
                        $('#startDate').val(moment().subtract(1, 'days').format('YYYY-MM-DD'));
                        $('#endDate').val(moment().format('YYYY-MM-DD'));
                        break;
                    case '1W':
                        $('#startDate').val(moment().subtract(7, 'days').format('YYYY-MM-DD'));
                        $('#endDate').val(moment().format('YYYY-MM-DD'));
                        break;
                    case '3M':
                        $('#startDate').val(moment().subtract(3, 'months').format('YYYY-MM-DD'));
                        $('#endDate').val(moment().format('YYYY-MM-DD'));
                        break;
                }
            });

            $(document).on('click', '.view-details', function () {
                var transactionId = $(this).data('id');
                $.ajax({
                    url: "api/dashboard/getDepositDetails/" + transactionId,
                    type: "GET",
                    async: true,
                    success: function (data) {

                        $('#transactionDetailModalLabel').text("Transaction Details");
                        $('#modalSender').text(data.username);
                        $('#modalAmount').text(data.amount + " " + data.currency.toUpperCase());
                        $('#modalDate').text(data.createdTime);
                        $('#modalNote').text(data.note);

                        $('#transactionDetailModal').modal('show');
                    },
                    error: function (xhr, status, error) {
                        alert("Hệ thống đang bận, vui lòng thử lại sau.");
                        console.log(error);
                    }
                });
            });

        });
    </script>


</body>

</html>